<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
    <!-- Post Creation Form Section -->
    <div class="main mt-4">
        <h3>댓글 수정</h3>
        <form th:action="@{/board/comment/commentupdate/{id}/{idx} (id=${comment.id},idx=${comment.board.idx})}" method="post">

            <div class="form-group">
                <label for="comment">내용 :</label>
                <textarea class="form-control" id="comment" name="comment" rows="5"  th:text="${comment.comment}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">수정</button>
            <button type="button" class="btn btn-secondary mt-3" onclick="javascript:history.back();">목록</button>
        </form>
    </div>
</div>

<!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
