<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="부트스트랩"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary"><span style="font-weight: bold;vertical-align: inherit;font-size: 1.5rem;">Community Board</span></a></li>
        </ul>

        <div class="col-md-3 text-end">
            <div th:if="${session.userid == null}">
                <button type="button" class="btn btn-outline-primary me-2" th:onclick="'window.location.href=\'/member/login\''">로그인</button>
                <button type="button" class="btn btn-primary" th:onclick="'window.location.href=\'/member/join\''">회원가입</button>
            </div>
            <div th:if="${session.userid != null}">
                <span th:text="${session.nickname} + '님, 환영합니다!'" class="me-2">환영합니다!</span>
                <button type="button" class="btn btn-primary" th:onclick="'window.location.href=\'/member/logout\''">로그아웃</button>
            </div>
        </div>
    </header>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${board}">
            <th scope="row" th:text="${board.idx}"></th>
            <td><a th:href="@{/board/detail/{idx}(idx=${board.idx})}" th:text="${board.title}"></a></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.view}"></td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:each="page : ${#numbers.sequence(0,totalpage - 1)}">
                <a class="page-link" th:href="@{/board/list(page=${pageStat.index})}" th:text="${pageStat.index +1}"> </a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <a href="/board/register" class="btn btn-primary">글 쓰기</a>
    </div>
</div>
</body>
</html>
